<!DOCTYPE html>
<html ng-app="appConnexion">

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="connexion.js"></script>
</head>

<body>
    Page de connexion
    <div ng-controller="mainController">
        <form class="input-group flex-nowrap">
            <input type="text" id="identifiant" placeholder="identifiant" ng-model="myId"></input>
            <input type="password" id="passwd" placeholder="entrez un mot de passe" ng-model="myPassword"></input>
            <button type="submit" class="btn btn-primary" ng-click="connect()">Se connecter</button>
            <button type="submit" class="btn btn-primary" ng-click="cree()">Creer compte</button>
        </form>
    </div>
</body>

</html>